.main_text {
    text-align: center;
    color: #b90e0e;
}

.boutons {
    text-align: center;
    margin-top: 20px;
}

.gentil_bouton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

.mechant_bouton {
    background-color: #b90e0e;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fb89ff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.love_message {
    text-align: center;
    color: #b90e0e;
    font-size: 2em;
    margin-top: 20%;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid #b90e0e;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #b90e0e; }
}

.sad_message {
    text-align: center;
    color: #b90e0e;
    font-size: 2em;
    margin-top: 20%;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .gentil_bouton, .mechant_bouton {
        padding: 10px 20px;
        font-size: 1em;
    }

    .main_text, .love_message, .sad_message {
        font-size: 1.5em;
    }

    .boutons {
        flex-direction: column;
        align-items: center;
    }

    .gentil_bouton, .mechant_bouton {
        width: 80%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .gentil_bouton, .mechant_bouton {
        padding: 5px 10px;
        font-size: 0.8em;
    }

    .main_text, .love_message, .sad_message {
        font-size: 1.2em;
    }

    .gentil_bouton, .mechant_bouton {
        width: 90%;
        margin: 5px 0;
    }
}
